@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer base {
    :root {
        --background: 240 50% 97%;
        --foreground: 235 51% 9%;
        --card: 240 33% 94%;
        --card-foreground: 235 51% 9%;
        --popover: 240 50% 97%;
        --popover-foreground: 235 51% 9%;
        --primary: 237 57% 28%;
        --primary-foreground: 0 0% 92.94%;
        --secondary: 238 61% 69%;
        --secondary-foreground: 237 57% 28%;
        --muted: 238 61% 69%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 238 65% 47%;
        --accent-foreground: 237 57% 28%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 92.94%;
        --border: 0 0% 75%;
        --input: 0 0% 75%;
        --ring: 355.38 41.94% 6.08%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 240 53% 3%;
            --foreground: 237 50% 91%;
            --card: 240 35% 7%;
            --card-foreground: 237 50% 91%;
            --popover: 240 53% 3%;
            --popover-foreground: 237 50% 91%;
            --primary: 237 57% 72%;
            --primary-foreground: 0 0% 92.94%;
            --secondary: 238 61% 31%;
            --secondary-foreground: 237 57% 72%;
            --muted: 238 61% 31%;
            --muted-foreground: 0 0% 63.9%;
            --accent: 238 65% 53%;
            --accent-foreground: 237 57% 72%;
            --destructive: 0 62.8% 30.6%;
            --destructive-foreground: 0 0% 92.94%;
            --border: 238 61% 31%;
            --input: 238 61% 31%;
            --ring: 0 0% 83.1%;
            --chart-1: 220 70% 50%;
            --chart-2: 160 60% 45%;
            --chart-3: 30 80% 55%;
            --chart-4: 280 65% 60%;
            --chart-5: 340 75% 55%;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}